<div class="container">
  <div class="nav">
    <ul>
      <li
        id="home-link"
        class="nav-item active"
        (click)="activeLink('home-link')"
      >
        <a href="#banner" (click)="toogleMenu()">Home</a>
      </li>
      <li id="about-link" class="nav-item" (click)="activeLink('about-link')">
        <a href="#about" (click)="toogleMenu()">About</a>
      </li>
      <li
        id="services-link"
        class="nav-item"
        (click)="activeLink('services-link')"
      >
        <a href="#services" (click)="toogleMenu()">Services</a>
      </li>
      <li id="skills-link" class="nav-item" (click)="activeLink('skills-link')">
        <a href="#skills" (click)="toogleMenu()">Skills</a>
      </li>
      <li
        id="project-link"
        class="nav-item"
        (click)="activeLink('project-link')"
      >
        <a href="#projects" (click)="toogleMenu()">Project</a>
      </li>
      <li
        id="testimonials-link"
        class="nav-item"
        (click)="activeLink('testimonials-link')"
      >
        <a href="#testimonials" (click)="toogleMenu()">Testimonials</a>
      </li>
      <li
        id="contact-link"
        class="nav-item"
        (click)="activeLink('contact-link')"
      >
        <a href="#contact" (click)="toogleMenu()">Contact</a>
      </li>
    </ul>
    <div class="themeSwitch" (click)="switchTheme()"></div>
  </div>
  <div class="main">
    <div class="topbar">
      <a href="#" class="logo">Erik</a>
      <div class="toggle" (click)="onToggleClick()">
        <span id="hamburguer"> </span>
      </div>
    </div>

    <!-- Banner -->
    <!-- (document:mousemove)="onMouseMove($event)"-->

    <section class="banner" id="banner">
      <div class="content">
        <h1 id="hi_title">Hi,</h1>
        <h1 id="i_am_title">I'm Erik</h1>
        <h1 id="role_title">Full Stack Developer</h1>
        <a id="download-cv-btn" href="#" class="btn hvr-bounce-to-right">
          Download My CV</a
        >
        <ul class="socialMedias">
          <li>
            <a href="#"><em class="fa fa-github" aria-hidden="true"></em></a>
          </li>
          <li>
            <a href="#"><em class="fa fa-linkedin" aria-hidden="true"></em></a>
          </li>
        </ul>
      </div>
      <div class="scroll-down">
        <span>scroll down</span>
        <em
          style="padding-top: 15px"
          class="fa fa-arrow-down"
          aria-hidden="true"
        ></em>
      </div>
    </section>

    <!-- About -->
    <section class="about adjust" id="about">
      <div class="title">
        <h2>About Me</h2>
      </div>
      <div class="content">
        <div class="textBox">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
            expedita eius deleniti? Hic eum iure perspiciatis. Temporibus facere
            voluptas excepturi, vero, velit cupiditate perferendis at iure
            accusantium, ducimus aperiam corporis?Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Blanditiis voluptates alias iste eos
            nulla vero illum quas. Id aut, eligendi consequatur facere deserunt
            aperiam similique dolorem beatae dolores aliquid quisquam. Lorem
            ipsum dolor, sit amet consectetur adipisicing elit. Vero dolore
            impedit debitis eum repellendus, eos fugiat ipsa eaque temporibus
            sapiente perferendis. Sit cupiditate ex nostrum fugit praesentium
            sapiente accusamus ut. <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
            officiis, consectetur minima vitae mollitia nobis repellendus nihil
            aspernatur nemo quod sed iure qui ipsa at maiores, ea eos hic
            dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quos, consequatur? Non pariatur perspiciatis asperiores iure sed
            ipsum esse error, totam aut unde quas perferendis incidunt sit hic
            rerum nulla nobis.
          </p>
        </div>
        <div class="imgBx">
          <img src="assets/img/profile-cat.jpeg" alt="" />
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="services adjust" id="services">
      <div class="title">
        <h2>Our Services</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          consequatur dolore deserunt voluptatum.
        </p>
      </div>
      <div class="content">
        <div class="serviceBox">
          <img src="assets/img/profile-cat.jpeg" alt="" />
          <h2>Web Design 1</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
            consequatur accusantium natus
          </p>
        </div>
        <div class="serviceBox">
          <img src="assets/img/profile-cat.jpeg" alt="" />
          <h2>Web Design 2</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
            consequatur accusantium natus
          </p>
        </div>
        <div class="serviceBox">
          <img src="assets/img/profile-cat.jpeg" alt="" />
          <h2>Web Design 3</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
            consequatur accusantium natus
          </p>
        </div>
        <div class="serviceBox">
          <img src="assets/img/profile-cat.jpeg" alt="" />
          <h2>Web Design 4</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
            consequatur accusantium natus
          </p>
        </div>
        <div class="serviceBox">
          <img src="assets/img/profile-cat.jpeg" alt="" />
          <h2>Web Design 5</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
            consequatur accusantium natus
          </p>
        </div>
        <div class="serviceBox">
          <img src="assets/img/profile-cat.jpeg" alt="" />
          <h2>Web Design 6</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
            consequatur accusantium natus
          </p>
        </div>
      </div>
    </section>

    <!-- Skills -->
    <section class="skills adjust" id="skills">
      <div class="title">
        <h2>Skills</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem sint
          accusantium magnam laboriosam cupiditate.
        </p>
      </div>
      <div class="content">
        <div class="skills_data">
          <div class="skills_name">
            <em class="fa fa-html5 skills_icon" aria-hidden="true"></em>
            <span class="skills_name">HTML5</span>
          </div>
          <div><span class="skills_percentage">95%</span></div>
          <div class="skills_bar skills_html"></div>
        </div>
        <div class="skills_data">
          <div class="skills_name">
            <em class="fa fa-html5 skills_icon" aria-hidden="true"></em>
            <span class="skills_name">Java</span>
          </div>
          <div><span class="skills_percentage">95%</span></div>
          <div class="skills_bar skills_java"></div>
        </div>
        <div class="skills_data">
          <div class="skills_name">
            <em class="fa fa-css3 skills_icon" aria-hidden="true"></em>
            <span class="skills_name">CSS3</span>
          </div>
          <div><span class="skills_percentage">80%</span></div>
          <div class="skills_bar skills_css"></div>
        </div>
        <div class="skills_data">
          <div class="skills_name">
            <em class="fa fa-html5 skills_icon" aria-hidden="true"></em>
            <span class="skills_name">JavaScript</span>
          </div>
          <div><span class="skills_percentage">95%</span></div>
          <div class="skills_bar skills_js"></div>
        </div>
      </div>
    </section>
    <!-- Projects -->
    <section class="projects adjust" id="projects">
      <div class="title">
        <h2>Recent Work</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem sint
          accusantium magnam laboriosam cupiditate.
        </p>
      </div>
      <div class="content">
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 1</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 2</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 3</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 4</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 5</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 6</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 7</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 8</h3>
          </div>
        </div>
        <div class="workBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 9</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- testimonials -->
    <section class="testimonials adjust" id="testimonials">
      <div class="title">
        <h2>Testimonials</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem sint
          accusantium magnam laboriosam cupiditate.
        </p>
      </div>
      <div class="content">
        <div class="testimonialsBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, animi
            sit! Aperiam, nulla eaque cupiditate, tenetur est incidunt nesciunt
            sunt a mollitia, similique repellat in corporis! Quo tenetur id
            beatae?
          </p>
          <h4>Someone Famouse<br /><span>Website Designer</span></h4>
        </div>
        <div class="testimonialsBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, animi
            sit! Aperiam, nulla eaque cupiditate, tenetur est incidunt nesciunt
            sunt a mollitia, similique repellat in corporis! Quo tenetur id
            beatae?
          </p>
          <h4>Someone Famouse<br /><span>Website Designer</span></h4>
        </div>
        <div class="testimonialsBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, animi
            sit! Aperiam, nulla eaque cupiditate, tenetur est incidunt nesciunt
            sunt a mollitia, similique repellat in corporis! Quo tenetur id
            beatae?
          </p>
          <h4>Someone Famouse<br /><span>Website Designer</span></h4>
        </div>
        <div class="testimonialsBox">
          <div class="imgBx">
            <img src="assets/img/profile-cat.jpeg" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, animi
            sit! Aperiam, nulla eaque cupiditate, tenetur est incidunt nesciunt
            sunt a mollitia, similique repellat in corporis! Quo tenetur id
            beatae?
          </p>
          <h4>Someone Famouse<br /><span>Website Designer</span></h4>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section class="contact adjust" id="contact">
      <div class="title">
        <h2>Let's say hi</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem sint
          accusantium magnam laboriosam cupiditate.
        </p>
      </div>
      <div class="contactForm">
        <div class="row">
          <input type="text" name="" id="" placeholder="First Name " />
          <input type="text" name="" id="" placeholder="Last Name " />
        </div>
        <div class="row">
          <input type="text" name="" id="" placeholder="Email" />
          <input type="text" name="" id="" placeholder="Mobile No." />
        </div>
        <div class="row2">
          <textarea
            name=""
            id=""
            cols="30"
            rows="4"
            placeholder="Message"
          ></textarea>
        </div>
        <div class="row2">
          <input type="submit" value="Send" />
        </div>
      </div>
    </section>

    <!-- Copuyright text-->
    <div class="copyright">
      <p>Copyright</p>
    </div>
  </div>
</div>
